body {
    background-color: #ccc;
    color: #fff;
}

#content {
    position: absolute;
    top: 16px;
    bottom: 16px;
    left: 16px;
    right: 16px;
    overflow: hidden;
    border: 1px solid white;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0 0 0 16px rgba(0,0,0,0.3);
    color: #fff;
}

.container {
    width: 100%;
}

button {
    outline: none;
    display: inline-block;
    line-height: 0;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 4px rgba(0,0,0,0.2);
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
    background-color: transparent;
    border-radius: 0px;
    border: 1px solid #fff;
}

.title-container {
  animation: flipInX 2s;
  text-align: center;
}

.title-container.ng-hide {
  animation: flipOutY 1s;
}

.story-container {
  animation: fadeInUp 2s;
  max-width:640px;
  top: 16px;
  bottom: 8px;
  height: 100%;
}

.story-container.ng-hide {
  animation: flipOutY 1s;
}

.row.event {
    animation: fadeInDown 1s;
}

.dialogue {
    margin:auto;
    height: auto;
    width:100%;
    bottom: 186px;
    position:absolute;
}

.userArea {
    margin-top:8px;
    margin: auto;
    left: 0;
    right: 0;
    width:100%;
    position:absolute;
    bottom: 0;
    height:176px;
}

.userArea button {
    padding: 8px;
    width:80% !important;
    left: 0;
    text-align: left !important;
    margin: auto;
    border: none;
    display: block !important;
}

.event .columns.your-action {
    text-align: left !important;
}

.event .columns.your-speech {
    text-align: left !important;
}

.event .columns.other-action {
    text-align: right !important;
}

.event .columns.other-speech {
    text-align: right !important;
}

.user-option {
    animation: fadeInDown .5s;
}

.user-option.ng-leave {
    animation: fadeOutDown .5s;
}
