
.blur {
    -webkit-animation-name: blur;
            animation-name: blur;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="12" /></filter></svg>#filter');
    filter: blur(12px);
    -webkit-filter: blur(12px);
}

@-webkit-keyframes blur {
    from {
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0" /></filter></svg>#filter');
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }

    to {
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
        filter: blur(10px);
        -webkit-filter: blur(10px);
    }
}

@keyframes blur {
    from {
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0" /></filter></svg>#filter');
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }

    to {
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
        filter: blur(10px);
        -webkit-filter: blur(10px);
    }
}

.absolute-center {
    display: table;
    height: auto;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
}

.text-light {
    font-weight: 100;
}

.text-medium {
    font-weight: 300;
}

.text-bold {
    font-weight: 700;
}

.text-spacious {
    letter-spacing: 0.4em;
}

.text-spaced {
    letter-spacing: 0.2em;
}

.text-shadow {
    text-shadow: 0 0 4px rgba(0,0,0,0.4);
}

.divider {
    height: 35px;
    width: 100%;
    margin: 0px auto;
    background: url(../img/divider.png) no-repeat scroll center transparent;
    -webkit-animation: fadeIn 2s;
            animation: fadeIn 2s;
}
