<div>


    <div class="bg-video" ng-class="{blur: blur}">
        <vid-bg prevent-right-click resources="bg.resources" poster="bg.poster" full-screen="bg.fullScreen" muted="bg.muted" z-index="bg.zIndex" play-info="bg.playInfo" pause-play="bg.pausePlay"></vid-bg>
    </div>

    <div class="content">
        <div class="container" ng-hide="">

            <h1 class="text-bold text-shadow">The Coffee Shop</h1>
            <h5 class="text-spacious text-shadow">an interactive story</h5> 
            <br>
            <div class="divider"></div>
            <br>
            <button class="hvr-sweep-to-right" ng-click="start()"><h5 class="text-medium"><i class="icon ion-android-send"></i>&nbsp;&nbsp; P L A Y</></h5></button>

        </div>
    </div>



</div>