<div>

    <div class="bg-video" ng-class="{blur: blur}" ng-hide="desertScene">
        <vid-bg prevent-right-click resources="bg.main" poster="bg.postermain" full-screen="bg.fullScreen" muted="bg.muted" z-index="bg.zIndex" play-info="bg.playInfo" pause-play="bg.pausePlay" loop="true"></vid-bg>
    </div>

    <div class="bg-video" ng-class="" ng-hide="!desertScene">
        <vid-bg prevent-right-click resources="bg.desert" poster="bg.posterdesert" full-screen="bg.fullScreen" muted="bg.muted" z-index="bg.zIndex" play-info="bg.playInfo" pause-play="bg.pausePlay" loop="true"></vid-bg>
    </div>

    <div id="content" ng-hide="!loaded" elem-ready="load()">

        <div class="container absolute-center title-container" ng-hide="started">
            <h1 class="text-bold text-shadow">The Coffee Shop</h1>
            <h5 class="text-spacious text-shadow">an interactive story</h5>
            <br>
            <div class="divider"></div>
            <br>
            <button ng-audio="media/click.mp3" volume="0.2" start="0" class="hvr-sweep-to-right" ng-click="start()"><h5><i class="icon ion-android-send"></i>&nbsp;&nbsp; P L A Y</></h5></button>
        </div>

        <div class="container story-container" ng-hide="!storyTime" ng-controller="mainCtrl">
            <div class="divider"></div>
            <div class="dialogue">
                <div class="row event" ng-repeat="event in events track by $index">
                    <div class="twelve columns {{event.type}}" ng-style="{opacity: (getContentHeight() - 130)/200 - (events.length - $index)/6}">
                        {{event.text}}
                    </div>
                </div>
            </div>

            <div class="container userArea">
                <div class="divider"></div>
                <button class="hvr-float-right user-option" ng-repeat="option in userOptions" ng-click="advance(option)">
                    <i class="icon ion-android-send"></i>&nbsp;&nbsp;{{option.name}}
                </button>
            </div>

        </div>

    </div>

</div>